<!DOCTYPE html>
<html> 
  <body>
    <h1 class="title">HOME PAGE</h1>
    <div class="topnav" >
      <a href="#">Example Link</a>
      <a href="#">Example Link</a>
      <a href="./userprofile">{{ localUser.fullName }}</a>
    </div>
    <br>
    <form action= "/action_page.php"> 
      Code: <br>
      <textarea class="text_input" wrap="off" rows="35" cols="60" autocapitalize="off" autocorrect="off"  spellcheck="false" placeholder="Enter code here..." style="resize: none;"></textarea>
      <textarea class="output_code" rows="36" cols="120" placeholder="visualizer" style="resize: none;" readonly></textarea>
      <br>
      <input class="button" type="button" value="Run Code">
      <input class="button" type="button" value="Step First">
      <input class="button" type="button" value="Step Forwards">
      <input class="button" type="button" value="Step Backwards">
      <br>
        Output:
      <br>
      <textarea rows="15" cols="100" placeholder="Output of code..." style="resize: none;" readonly></textarea>
    </form>
</body>
</html>