<!DOCTYPE html>
<html> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <body>
    <h1 class="title">HOME PAGE</h1>
    <div class="topnav" >
      <a href="#">Example Link</a>
      <a href="#">Example Link</a>
      <a href="./userprofile"target="popup"onclick="window.open('./userprofile','popup','width=600,height=600');">{{ localUser.fullName }}</a>
    </div>
    <br>
    <form action= "/action_page.php"> 
      Code: <br>
      <textarea class="text_input" wrap="off" rows="35" cols="60" autocapitalize="off" autocorrect="off"  spellcheck="false" placeholder="Enter code here..." style="resize: none;"></textarea>
      <textarea class="output_code" rows="36" cols="120" placeholder="visualizer" style="resize: none;" readonly></textarea>
      <br>
      <span><i class="fas fa-fast-backward glyph"></i></span>
      <input type="button" class="button" value=" First" />
      <span><i class="fas fa-step-backward glyph"></i></span>
      <input type="button" class="button" value=" Prev" />
      <span><i class="fas fa-step-forward glyph"></i></span>
      <input type="button" class="button" value=" Next" />
      <span><i class="fas fa-play glyph"></i></span>
      <input type="button" class="button" value=" Run" />
      <br>
        Output:
      <br>
      <textarea rows="15" cols="100" placeholder="Output of code..." style="resize: none;" readonly></textarea>
    </form>
</body>
</html>