<!DOCTYPE html>
<html> 
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/app/styles.css">

  <body>
    <h1 class="title">HOME PAGE</h1>
    <div *ngIf="localUser" class="topnav" >

      <!--Modal Window-->
      <input type="checkbox" id="modalWindow" class="visually-hidden">
      <label for="modalWindow" class="checkbox-hover">{{ localUser.fullName }}</label>
      <div>
        <div>
          <label for="modalWindow">x</label>
          <iframe src="./userprofile" class="modalContents"></iframe>
        </div>
      </div>
      <!--Modal Window End-->
      <a href="#">Example Link</a>
      <a href="#">Example Link</a>

    </div>
    
    <br>

      Code: <br>
      <ngx-codemirror
      [(ngModel)]="content"
      [ngModelOptions]="{standalone: true}"
      [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'text/x-java'
      }"
      ></ngx-codemirror>
 
      <textarea class="visualizer" placeholder="visualizer" 
      style="
      resize: none;
      height: 300px;
      width: 75%
      " readonly></textarea>

        <br>
          <span><i class="fas fa-fast-backward glyph"></i></span>
          <input type="button" style="background-color:#0028E5" value=" First" />
          <span><i class="fas fa-step-backward glyph"></i></span>
          <input type="button" style="background-color:#0028E5" value=" Prev" />
          <span><i class="fas fa-step-forward glyph"></i></span>
          <input type="button" style="background-color:#0028E5" value=" Next" />
          <span><i class="fas fa-play glyph"></i></span>
          <input type="button" (click)="run()" style="background-color:#0028E5" value=" Run" />
        <br>

        Output:
      <br>
      <textarea class='output' id="output" rows="15" cols="100" placeholder="Output of code..." style="resize: none;"></textarea>
</body>
</html>